.pl-11{
  padding-left: 13px;
}
.pr-11{
  padding-right: 13px;
}
ion-card{
  border-radius: 10px;
  color: white;
  padding: 9px;
}
ion-card-content{
  font-size: 18px;
}
.scroll{
  overflow: scroll;
}
.border-bottom{
  border-bottom: #0d0d0d solid 0.5px;
}
ion-checkbox:checked{
  text-decoration: line-through;
  color: red;
}
