<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bg-home">
    <h1>Ma Todolist</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper est ac porta porttitor.
      Phasellus a ullamcorper tellus, vitae aliquet nisl. In fermentum metus in eros rutrum, non luctus turpis fermentum.
      Donec molestie leo orci, eget mollis leo bibendum non. Nullam nisl augue, tincidunt vitae tristique et, vestibulum ut ipsum.
    </p>
  </div>
</ion-content>
