<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajouter une tâche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajouter une tâche</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="p-20">
    <div class="flex direction">
      <label class="ion-margin-top" for="name">Tâche :</label>
      <input id="name" type="text" formControlName="nametodo">

      <label class="ion-margin-top" for="date">Date : </label>
      <input class="ion-margin-bottom" id="date" type="date" formControlName="datetodo">
    </div>
    <ion-button color="tertiary" expand="block" type="submit" [disabled]="!todoForm.valid">
      <ion-icon name="add" slot="start"></ion-icon>
      Ajouter une tâche
    </ion-button>
  </form>
</ion-content>
